<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gourmand Plate | Sign In</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "/vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

  

  <h1 align="center">Sign In</h1>
  
  <div class="row">
    <div class="small-4 columns">
      Insert more content on this side
    </div>
  	<div class="small-4 columns">

      <%= form_for(:session, url: sessions_path) do |f| %> 

        <%= f.label :email %> 
        <%= f.text_field :email %> 

        <%= f.label :password %> 
        <%= f.password_field :password %> 
        
        <%= f.submit "Sign in", class: "button radius round" %>
      <% end %> 

     
      <p>New user? <%= link_to "Sign up now!", signup_path %> </p>
  	</div>
    <div class="small-4 columns"></div>
  </div>
  


    
    <%= yield %>
    <%= javascript_include_tag "application" %> 

    <script src="assets/javascripts/foundation.js"></script>
    <script src="assets/javascripts/foundation.orbit.js"></script>
    <script src="assets/javascripts/foundation.topbar.js"></script> 
    <script src="assets/javascripts/foundation.tooltip.js"></script> 
    <script src="assets/javascripts/foundation.reveal.js"></script>
    <script src="assets/javascripts/foundation.dropdown.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
