<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gourmand Plate | Sign up</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "/vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

  

  <h1 align="center">Sign up</h1>

  <div class="row">
  	<div class="small-6 columns">
  		
  		<p>Place content here</p>

  	</div>



  </div>
  
  
  


    
    <%= yield %>
    <%= javascript_include_tag "application" %> 

    <script src="assets/javascripts/foundation.js"></script>
    <script src="assets/javascripts/foundation.orbit.js"></script>
    <script src="assets/javascripts/foundation.topbar.js"></script> 
    <script src="assets/javascripts/foundation.tooltip.js"></script> 
    <script src="assets/javascripts/foundation.reveal.js"></script>
    <script src="assets/javascripts/foundation.dropdown.js"></scripts>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
