<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gourmand Plate | Sign up</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "/vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

  

  <h1 align="center">Sign up</h1>

  <div class="row">
  	<div class="small-4 columns">
  		insert content here
  	</div>
  	<div class="small-4 columns">
  		
  		
  		<%= form_for(@user) do |f| %> 
  			<%= render 'shared/error_messages', object: f.object %> 

  			<%= f.label :name %> 
  			<%= f.text_field :name %>

  			<%= f.label :email %> 
  			<%= f.text_field :email %>

  			<%= f.label :password %> 
  			<%= f.password_field :password %> 

  			<%= f.label :password_confirmation, "Confirmation" %> 
  			<%= f.password_field :password_confirmation %>

  			<%= f.submit "Create my account", class: "button radius round" %>
  		<% end %>
  		
  	</div>
  	<div class="small-4 columns"></div>
  </div>
  
  
  


    
    <%= yield %>
    <%= javascript_include_tag "application" %> 

    <script src="assets/javascripts/foundation.js"></script>
    <script src="assets/javascripts/foundation.orbit.js"></script>
    <script src="assets/javascripts/foundation.topbar.js"></script> 
    <script src="assets/javascripts/foundation.tooltip.js"></script> 
    <script src="assets/javascripts/foundation.reveal.js"></script>
    <script src="assets/javascripts/foundation.dropdown.js"></scripts>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
